<!-- Credit Section -->
<section id="credits" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-12">
        <h2 class="page-header">Credits</h2>
        <h3>Theatre</h3>

        <h4>2014</h4>
        <p>Chris, The Washington Ladies / Tristan Bates Theatre, London / KDC Theatre / Matthew Partridge
          <br/> Julian, Wellington / Lion & Unicorn Theatre / KDC Theatre, Lorenzo Peter Mason</p>

        <h4>2013</h4>
        <p>Sonnet 29 / Phoenix Artist Club / SimplyShakespeare UK Roy, Lone Star / Monologueslam @ Theatre Royal Stratford East / Tri Force Promotions</p>

        <h4>2012</h4>

        <p>H, Playing Fate / Surgeons Hall, Edinburgh Fringe / Mingyu Lin</p>

        <h4>2011</h4>

        <p>Richard Greenleaf, The Talented Mr Ripley / Questors Theatre / David Hovatter</p>

        <h4>2010</h4>

        <p>JJ, Lifeslide / Etcetera Theatre / Camden Fringe Festival / Enkore Drama / Katherine Gibbons
          <br /> JJ, Lifeslide / Tristan Bates Theatre / Courtyard Theatre / Enkore Drama / Katherine Gibbons</p>

        <h4>2009</h4>

        <p>Whitechapel Gallery, The Red Velvet Curtain Club / Gabo Guzzo / Live &amp; Piss, Performer
          <br /> Harvey, Playing Fate / Lost Theatre, Enkore Drama / Black &amp; Blue / Katherine Gibbons
          <br /> Harbey, Playing Fate / Etcetera Theatre, Enkore Drama / Black &amp; Blue / Katherine Gibbons</p>

        <h4>2008</h4>

        <p>Mark Wallace, Harry Burns / Showcase / Tristan Bates Theatre / Nathan Osgood</p>

        <h3>Film / TV</h3>

        <h4>2014</h4>

        <p>Man, The Cyclist / Denis K Productions / Denis K</p>

        <h4>2013</h4>

        <p>Creature, Get Some / Horton Squared Productions / Adam & Joe Horton
          <br /> Toby, Filth / Tiger Dreams Productions / Tony Errico
          <br /> Student, Colonel Badd / Tiger Dreams Productions / Tony Errico</p>

        <h4>2012</h4>

        <p>Space Detective, The Double / Alcove Entertainment / Richard Ayoade
          <br /> The Man, Wanted / London Film Entrepeneurs / Paul Cracknell</p>

        <h4>2010</h4>

        <p>Karl Marx, Die Deutschen II / Gruppe 5 Filmproduktion GmbH / Germany
          <br /> Bus Passenger, Winter Sun / Southern Monkey Productions / Paul Jibson</p>

        <h4>2008</h4>

        <p>Person in Queue, One of Those Days / BBC Short Film / Memory Box Films Ltd / Hattie Dalton
          <br /> Bartender, Postcards from London / Skillset Film Lab / Actor’s Centre / Sarah Walker</p>

      </div>
    </div>
  </div>
</section>
