<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
          <h1 class="brand-heading">Pedro Pinhal</h1>
          <p class="intro-text">Actor. Filmmaker.
            <br/> London.</p>
          <span class="visible-sm-block visible-md-block visible-lg-block">
            <a href="#reel" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
