 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/lb.js" | prepend: site.baseurl }}"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/3.3.0/ekko-lightbox.min.js"></script>
-->
    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>
