<!-- Reel Section -->
<section id="reel" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-12">
      <h2>Reel</h2>

      <style>
        .embed-container {
          position: relative;
          padding-bottom: 56.25%;
          height: 0;
          overflow: hidden;
          max-width: 100%;
        }

        .embed-container iframe,
        .embed-container object,
        .embed-container embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      </style>

      <div class='embed-container'>
        <iframe src='https://player.vimeo.com/video/27691239' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">

      <style>
        a.lightbox img {
          border: 3px solid white;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
          margin: 94px 20px 20px 20px;
        }
      </style>
      <a class="lightbox" href="img/headshots/06.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Headshot">
        <img src="img/headshots/06-thumb.jpg" />
      </a>

      <a class="lightbox" href="img/headshots/05.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Headshot">
        <img src="img/headshots/05-thumb.jpg" />
      </a>

      <a class="lightbox" href="img/headshots/04.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Headshot">
        <img src="img/headshots/04-thumb.jpg" />
      </a>

      <a class="lightbox" href="img/headshots/02.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Headshot">
        <img src="img/headshots/02-thumb.jpg" />
      </a>

      <a class="lightbox" href="img/theatre/ripley_1441.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="The Talented Mr Ripley">
        <img src="img/theatre/ripley_1441-thumb.jpg" />
      </a>

      <a class="lightbox" href="img/theatre/ripley_1448.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="The Talented Mr Ripley">
        <img src="img/theatre/ripley_1448-thumb.jpg" />
      </a>

      <a class="lightbox" href="img/theatre/ripley_1737.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="The Talented Mr Ripley">
        <img src="img/theatre/ripley_1737-thumb.jpg" />
      </a>

      <a class="lightbox" href="img/theatre/ladies_02970.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Ladies Day">
        <img src="img/theatre/ladies_02970-thumb.jpg" />
      </a>

    </div>

  </div>

  </div>



</section>
