<!-- Skills Section -->
<section id="skills" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Skills</h2>

      <h4>Accents</h4>
      <p>
        Natural RP, London (Cockney), Irish (Dublin), American (General), American (Bronx), American(Southern), East European / Russian, South African (Natural)</p>

      <h4>Skills</h4>
      <p>Improvisation, Dance (Hiphop / Street), Capoeira, Guitar, Drums, Boxing, Football, Rugby, Tennis, Snowboarding.</p>
      <h4>Training</h4>
      <h5>2016</h5>
      <p>Dee Cannon Acting Coaching</p>
      <p>Maeve Diamond Voice Training</p>
      <p>John Byrne Career Coaching</p>
      
      <h5>2015</h5>
      <p>Jeremy Zimmerman Workshop</p>
      <h5>2014</h5>
      <p>Maeve Diamond Voice Training
        <br/> Annie Rowe Casting Workshop</p>
      <h5>2013</h5>
      <p>Mark Summers Audition Masterclass @ Mark Summers London</p>
      <h5>2012</h5>
      <p>Andrea Clark Casting Workshop
        <br /> Juice Collective 4-week Workshop
        <br /> Raindance Saturday Film School
        <br /> Introduction to P.E.M Workshop</p>
      <h5>2011</h5>
      <p>The Alchemy Of Screen Acting (Andrew Higgs)
        <br /> Ongoing training at The Actors Centre</p>
      <h5>2009</h5>
      <p>TV Acting with Vivienne Cozens
        <h5>2008</h5>
        <p>Introduction to Acting (Actor’s Centre London) Voice Training (Jessica Higgs)</p>
    </div>
  </div>
</section>
