
#header
{
    height: 100px;    
    
}
#header p
{
    font-size:35px;
}

#title
{
    
}

#mainContent
{
    border-top: 1px solid rgb(157,153,153); /* IE fallback*/
    border-top: 1px solid rgba(157,153,153,0.2);
    
}

#mainContent .contentItem
{
    margin: 0 0 0 0px;
	padding: 26px 26px 26px 26px;
	border-bottom: 1px solid rgb(157,153,153); /* IE fallback*/
	border-bottom: 1px solid rgba(157,153,153,0.2);
}
#mainContent .contentItem h2
{
    font-weight: 300;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 30px;
	line-height: 40px;
	background: url(images/site/bg_t.png) repeat;
	display:inline-block;
	
}

#mainContent .contentItem p
{
    font-size: 15px;
	color: #D0D3D5;
	margin-bottom:10px;
}

#mainContent .contentItem .image
{
    
    float: left;
    padding: 1px;
    text-align:center;    
}

#mainContent .contentItem .image img
{
  
    width: 80px;
    height: 80px;
    /*
  border: 6px solid #dfdfdf;
    -moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;    
	border-bottom-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;    
	border-top-right-radius: 3px;
*/
}
#cboxCurrent, #cboxTitle
{
    font-size:12px;    
    
}

#mainContent .contentItem ul
{
    list-style:none;    
    padding-left:30px;
    font-size: 15px;
    color: #D0D3D5;
}

#mainContent .homepageHeadshot
{
    width:150px;
    float: right;
    padding-left:15px;    
}

#navbar
{
    border-top: 1px solid rgb(157,153,153); /* IE Fallback */
    border-top: 1px solid rgba(255,255,255,0.1); 
	font-size: 18px;
	font-weight: 300;
	color: #D0D3D5;
}
#navbar strong
{
    font-weight: 300;
    display: block;
	padding-top: 20px;
}
#navbar ul
{
    list-style:none;    
    padding-left:30px;
}
#navbar a
{
    padding: 0;
	margin: 0;
	clear: both;
	display: block;
	line-height: 140%;
}
#navbar a:hover
{
    color: #fff;
	text-shadow: 0 0 6px #ef3c39;
}

#footer
{
    padding: 24px 0 30px 26px;    
    border-top: 2px solid rgb(157,153,153); /* IE Fallback */
	border-top: 2px solid rgba(157,153,153,0.2);
}
#footer p
{
    font-size:x-small;
    color:#fb985d;
}
#footer .copyright
{
    width:100px;
    border: 1px solid #ccc;
    
}
#footer .htmlValidation
{
    width:100px;
    border: 1px solid #abc;
    
 

}

#intro
{
    padding: 26px 0 26px 0;
    border-top: 2px solid rgb(157,153,153);
    border-top: 2px solid rgba(157,153,153,0.2);
}
#intro h1
{
    font-size: 52px;
	line-height: 62px;
	font-weight: lighter;
	font-weight: 300;
	padding: 0 26px;
	margin: 0;
	text-indent: -3px;
	color: #fb985d;
	color: rgba(251,152,93,0.7);
    background: url(images/site/bg_t.png) repeat;
    display:inline-block;
    
    
}



body 
{
    
    /*background: #292828 url(images/site/bg6.png) no-repeat center top;*/
    background: #292828 url(images/site/dark_bg.gif) repeat center top;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,0.01);
	font-family: "proxima-nova-1","proxima-nova-2", helvetica neue, helvetica, sans-serif;
	
}
body a {
	color: #fb985d;
	text-decoration: none;
  -webkit-transition: text-shadow .1s linear;
  outline: none;
}

body a:hover {
	color: #dc7130;
	text-shadow: 0 0 6px #fb985d;
}